USE [master]
GO


-------------------------------------CRIAÇÃO DO Database [BD_Veterinaria ]--------------------------------------------------------

CREATE DATABASE [BD_Veterinaria ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Veterinaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_Veterinaria .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Veterinaria _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_Veterinaria _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Veterinaria ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


---------------------------------------CRIAÇÃO DAS TABELAS---------------------------------------------------------


USE [BD_Veterinaria ]
GO
/****** Object:  Table [dbo].[TAB_AGENDAMENTO]    Script Date: 05/11/2018 00:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_AGENDAMENTO](
	[COD_AGENDAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[COD_TIPO_PROCEDIMENTO] [int] NOT NULL,
	[COD_PROCEDIMENTO] [int] NOT NULL,
	[COD_DISPONIBILIDADE] [int] NOT NULL,
	[DATA] [date] NOT NULL,
	[HORA] [varchar](10) NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_CLIENTE]    Script Date: 05/11/2018 00:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_CLIENTE](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [varchar](100) NOT NULL,
	[CPF] [varchar](30) NOT NULL,
	[RG] [varchar](30) NULL,
	[ENDERECO] [varchar](100) NOT NULL,
	[BAIRRO] [varchar](100) NOT NULL,
	[CIDADE] [varchar](100) NOT NULL,
	[UF] [varchar](50) NOT NULL,
	[TELEFONE] [varchar](30) NOT NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_TABCLIENTE_CODCLIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_DISPONIBILIDADE]    Script Date: 05/11/2018 00:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_DISPONIBILIDADE](
	[COD_DISPONIBILIDADE] [int] IDENTITY(1,1) NOT NULL,
	[COD_FUNCIONARIO] [int] NOT NULL,
	[SEMANA_ANO] [int] NULL,
	[ANO] [int] NOT NULL,
	[MES] [int] NOT NULL,
	[DIA] [int] NOT NULL,
	[HORA] [varchar](10) NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_ESPECIALIDADE]    Script Date: 05/11/2018 00:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_ESPECIALIDADE](
	[COD_ESPECIALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NULL,
 CONSTRAINT [PK_TABESPECIALIDADE_CODESPECIALIDADE] PRIMARY KEY CLUSTERED 
(
	[COD_ESPECIALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_FUNCIONARIO]    Script Date: 05/11/2018 00:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_FUNCIONARIO](
	[COD_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[COD_ESPECIALIDADE] [int] NOT NULL,
	[NOME_FUNCIONARIO] [varchar](100) NOT NULL,
	[CPF] [varchar](30) NOT NULL,
	[RG] [varchar](30) NULL,
	[TELEFONE] [varchar](30) NOT NULL,
	[TIPO] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TABFUNCIONARIO_CODFUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[COD_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_PET]    Script Date: 05/11/2018 00:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_PET](
	[COD_PET] [int] IDENTITY(1,1) NOT NULL,
	[COD_CLIENTE] [int] NOT NULL,
	[NOME_PET] [varchar](100) NOT NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[SEXO] [varchar](10) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
	[PELAGEM] [varchar](50) NULL,
	[RACA] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TABPET_CODPET] PRIMARY KEY CLUSTERED 
(
	[COD_PET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_PROCEDIMENTO]    Script Date: 05/11/2018 00:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_PROCEDIMENTO](
	[COD_PROCEDIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[COD_TIPO_PROCEDIMENTO] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[JEJUM] [varchar](3) NOT NULL,
	[VALOR_PROCEDIMENTO] [decimal](12, 3) NOT NULL,
	[OBSERVACAO] [varchar](100) NULL,
 CONSTRAINT [PK_TABPROCEDIMENTO_CODPROCEDIMENTO] PRIMARY KEY CLUSTERED 
(
	[COD_PROCEDIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TAB_TIPO_PROCEDIMENTO]    Script Date: 05/11/2018 00:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_TIPO_PROCEDIMENTO](
	[COD_TIPO_PROCEDIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TAB_TIPO_PROCEDIMENTO_CODPROCEDIMENTO] PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_PROCEDIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


--------------------------------------INSERÇÃO DE DADOS DE EXEMPLO NAS TABELAS---------------------------------------------------------------------

SET IDENTITY_INSERT [dbo].[TAB_AGENDAMENTO] ON 

INSERT [dbo].[TAB_AGENDAMENTO] ([COD_AGENDAMENTO], [COD_TIPO_PROCEDIMENTO], [COD_PROCEDIMENTO], [COD_DISPONIBILIDADE], [DATA], [HORA]) VALUES (1, 2, 3, 2, CAST(N'2018-11-02' AS Date), N'09:00')
INSERT [dbo].[TAB_AGENDAMENTO] ([COD_AGENDAMENTO], [COD_TIPO_PROCEDIMENTO], [COD_PROCEDIMENTO], [COD_DISPONIBILIDADE], [DATA], [HORA]) VALUES (2, 3, 2, 3, CAST(N'2019-11-03' AS Date), N'09:30')
INSERT [dbo].[TAB_AGENDAMENTO] ([COD_AGENDAMENTO], [COD_TIPO_PROCEDIMENTO], [COD_PROCEDIMENTO], [COD_DISPONIBILIDADE], [DATA], [HORA]) VALUES (3, 1, 1, 1, CAST(N'2019-01-05' AS Date), N'10:00')
SET IDENTITY_INSERT [dbo].[TAB_AGENDAMENTO] OFF


SET IDENTITY_INSERT [dbo].[TAB_CLIENTE] ON 

INSERT [dbo].[TAB_CLIENTE] ([COD_CLIENTE], [NOME_CLIENTE], [CPF], [RG], [ENDERECO], [BAIRRO], [CIDADE], [UF], [TELEFONE], [EMAIL]) VALUES (1, N'Florisvaldo', N'12345678901', N'82738192', N'Rua das flores 287', N'Jardim Pamplona', N'Santos', N'SP', N'(13) 98824-0634', N'florisvaldo@gmail.com')
INSERT [dbo].[TAB_CLIENTE] ([COD_CLIENTE], [NOME_CLIENTE], [CPF], [RG], [ENDERECO], [BAIRRO], [CIDADE], [UF], [TELEFONE], [EMAIL]) VALUES (2, N'Jubileu', N'2345678901', N'8273729', N'Rua paraiba 393', N'Jardim Guilhermina', N'Cubatao', N'RJ', N'(13) 98879-2400', N'jubileu@gmail.com')
INSERT [dbo].[TAB_CLIENTE] ([COD_CLIENTE], [NOME_CLIENTE], [CPF], [RG], [ENDERECO], [BAIRRO], [CIDADE], [UF], [TELEFONE], [EMAIL]) VALUES (3, N'Clodovil', N'345678909', N'234580', N'Rua brasilia 382', N'Jardim Forte', N'São Vicente', N'SP', N'(13) 99743-6754', N'clodovil@gmail.com')
SET IDENTITY_INSERT [dbo].[TAB_CLIENTE] OFF


SET IDENTITY_INSERT [dbo].[TAB_DISPONIBILIDADE] ON 

INSERT [dbo].[TAB_DISPONIBILIDADE] ([COD_DISPONIBILIDADE], [COD_FUNCIONARIO], [SEMANA_ANO], [ANO], [MES], [DIA], [HORA]) VALUES (1, 2, 45, 2018, 11, 2, N'09:00')
INSERT [dbo].[TAB_DISPONIBILIDADE] ([COD_DISPONIBILIDADE], [COD_FUNCIONARIO], [SEMANA_ANO], [ANO], [MES], [DIA], [HORA]) VALUES (2, 3, 46, 2018, 12, 3, N'09:30')
INSERT [dbo].[TAB_DISPONIBILIDADE] ([COD_DISPONIBILIDADE], [COD_FUNCIONARIO], [SEMANA_ANO], [ANO], [MES], [DIA], [HORA]) VALUES (3, 1, 47, 2019, 1, 5, N'10:00')
SET IDENTITY_INSERT [dbo].[TAB_DISPONIBILIDADE] OFF


SET IDENTITY_INSERT [dbo].[TAB_ESPECIALIDADE] ON 

INSERT [dbo].[TAB_ESPECIALIDADE] ([COD_ESPECIALIDADE], [DESCRICAO]) VALUES (1, N'Cardiologista')
INSERT [dbo].[TAB_ESPECIALIDADE] ([COD_ESPECIALIDADE], [DESCRICAO]) VALUES (2, N'Clinico Geral')
INSERT [dbo].[TAB_ESPECIALIDADE] ([COD_ESPECIALIDADE], [DESCRICAO]) VALUES (3, N'Ortopedista')
SET IDENTITY_INSERT [dbo].[TAB_ESPECIALIDADE] OFF


SET IDENTITY_INSERT [dbo].[TAB_FUNCIONARIO] ON 

INSERT [dbo].[TAB_FUNCIONARIO] ([COD_FUNCIONARIO], [COD_ESPECIALIDADE], [NOME_FUNCIONARIO], [CPF], [RG], [TELEFONE], [TIPO], [EMAIL]) VALUES (1, 2, N'Pedro', N'5427839', N'234455', N'(13) 98876-2453', N'Clinico Geral', N'pedro@gmail.com')
INSERT [dbo].[TAB_FUNCIONARIO] ([COD_FUNCIONARIO], [COD_ESPECIALIDADE], [NOME_FUNCIONARIO], [CPF], [RG], [TELEFONE], [TIPO], [EMAIL]) VALUES (2, 1, N'Marina', N'8389494', N'321111', N'(13) 98873-5949', N'Cardiologista', N'marina@gmail.com')
INSERT [dbo].[TAB_FUNCIONARIO] ([COD_FUNCIONARIO], [COD_ESPECIALIDADE], [NOME_FUNCIONARIO], [CPF], [RG], [TELEFONE], [TIPO], [EMAIL]) VALUES (3, 3, N'Diego', N'29832938', N'345566', N'(11) 92837-5474', N'Ortopedista', N'diego@gmail.com')
SET IDENTITY_INSERT [dbo].[TAB_FUNCIONARIO] OFF


SET IDENTITY_INSERT [dbo].[TAB_PET] ON 

INSERT [dbo].[TAB_PET] ([COD_PET], [COD_CLIENTE], [NOME_PET], [DATA_NASCIMENTO], [SEXO], [TIPO], [PELAGEM], [RACA]) VALUES (1, 2, N'Jujuba', CAST(N'2018-06-22' AS Date), N'femea', N'cachorro', N'Curta', N'Pug')
INSERT [dbo].[TAB_PET] ([COD_PET], [COD_CLIENTE], [NOME_PET], [DATA_NASCIMENTO], [SEXO], [TIPO], [PELAGEM], [RACA]) VALUES (2, 1, N'Chico', CAST(N'2018-02-03' AS Date), N'macho', N'cachorro', N'Longa Sedosa', N'Afgan Hound')
INSERT [dbo].[TAB_PET] ([COD_PET], [COD_CLIENTE], [NOME_PET], [DATA_NASCIMENTO], [SEXO], [TIPO], [PELAGEM], [RACA]) VALUES (3, 3, N'Bolacha', CAST(N'2017-08-06' AS Date), N'Macho', N'Papagaio', N'', N'Papagaio galego')
SET IDENTITY_INSERT [dbo].[TAB_PET] OFF


SET IDENTITY_INSERT [dbo].[TAB_PROCEDIMENTO] ON 

INSERT [dbo].[TAB_PROCEDIMENTO] ([COD_PROCEDIMENTO], [COD_TIPO_PROCEDIMENTO], [DESCRICAO], [JEJUM], [VALOR_PROCEDIMENTO], [OBSERVACAO]) VALUES (1, 2, N'Especialista Cardiologista', N'Nao', CAST(100.000 AS Decimal(12, 3)), NULL)
INSERT [dbo].[TAB_PROCEDIMENTO] ([COD_PROCEDIMENTO], [COD_TIPO_PROCEDIMENTO], [DESCRICAO], [JEJUM], [VALOR_PROCEDIMENTO], [OBSERVACAO]) VALUES (2, 3, N'Cirurgia Ortopedista', N'Sim', CAST(400.000 AS Decimal(12, 3)), N'Fez biopsia')
INSERT [dbo].[TAB_PROCEDIMENTO] ([COD_PROCEDIMENTO], [COD_TIPO_PROCEDIMENTO], [DESCRICAO], [JEJUM], [VALOR_PROCEDIMENTO], [OBSERVACAO]) VALUES (3, 1, N'Raio-x', N'Não', CAST(100.000 AS Decimal(12, 3)), NULL)
SET IDENTITY_INSERT [dbo].[TAB_PROCEDIMENTO] OFF


SET IDENTITY_INSERT [dbo].[TAB_TIPO_PROCEDIMENTO] ON 

INSERT [dbo].[TAB_TIPO_PROCEDIMENTO] ([COD_TIPO_PROCEDIMENTO], [DESCRICAO]) VALUES (1, N'Exame')
INSERT [dbo].[TAB_TIPO_PROCEDIMENTO] ([COD_TIPO_PROCEDIMENTO], [DESCRICAO]) VALUES (2, N'Consulta')
INSERT [dbo].[TAB_TIPO_PROCEDIMENTO] ([COD_TIPO_PROCEDIMENTO], [DESCRICAO]) VALUES (3, N'Cirurgia')
SET IDENTITY_INSERT [dbo].[TAB_TIPO_PROCEDIMENTO] OFF


------------------------------------------INSERÇÃO DAS CHAVES ESTRANGEIRAS---------------------------------------------------------------------


ALTER TABLE [dbo].[TAB_FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_TABESPECIALIDADE_CODESPECIALIDADE] FOREIGN KEY([COD_ESPECIALIDADE])
REFERENCES [dbo].[TAB_ESPECIALIDADE] ([COD_ESPECIALIDADE])
GO


ALTER TABLE [dbo].[TAB_FUNCIONARIO] CHECK CONSTRAINT [FK_TABESPECIALIDADE_CODESPECIALIDADE]
GO


ALTER TABLE [dbo].[TAB_PET]  WITH CHECK ADD  CONSTRAINT [FK_TABCLIENTE_CODCLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[TAB_CLIENTE] ([COD_CLIENTE])
GO


ALTER TABLE [dbo].[TAB_PET] CHECK CONSTRAINT [FK_TABCLIENTE_CODCLIENTE]
GO


ALTER TABLE [dbo].[TAB_PROCEDIMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TABTIPOPROCEDIMENTO_CODTIPOPROCEDIMENTO] FOREIGN KEY([COD_TIPO_PROCEDIMENTO])
REFERENCES [dbo].[TAB_TIPO_PROCEDIMENTO] ([COD_TIPO_PROCEDIMENTO])
GO


ALTER TABLE [dbo].[TAB_PROCEDIMENTO] CHECK CONSTRAINT [FK_TABTIPOPROCEDIMENTO_CODTIPOPROCEDIMENTO]
GO


USE [master]
GO
